alembic==1.8.0
aniso8601==9.0.1
autopep8==1.6.0
bleach==5.0.1
blinker==1.4
cachelib==0.9.0
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.5
commonmark==0.9.1
cycler==0.11.0
defusedxml==0.7.1
Deprecated==1.2.13
dnspython==2.2.1
docutils==0.17.1
dominate==2.6.0
flake8==4.0.1
Flask==2.1.2
Flask-Caching==2.0.2
Flask-Cors==3.0.10
Flask-JWT-Extended==4.4.4
Flask-Limiter==3.1.0
Flask-Migrate==3.1.0
Flask-MySQLdb==1.0.1
flask-nav==0.6
Flask-Navigation==0.2.0
Flask-RESTful==0.3.9
Flask-Reuploaded==1.3.0
Flask-SQLAlchemy==2.5.1
flask-swagger-ui==4.11.1
fonttools==4.28.2
greenlet==1.1.2
httpie==3.2.1
idna==3.3
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
keyring==23.2.1
kiwisolver==1.3.2
limits==3.1.5
mailgun==0.1.1
Mako==1.2.1
MarkupSafe==2.1.1
marshmallow==3.19.0
matplotlib==3.4.3
mccabe==0.6.1
multidict==6.0.2
mysql-connector-python==8.0.27
mysqlclient==2.1.0
numpy==1.21.4
ordered-set==4.1.0
packaging==21.3
paho-mqtt==1.6.1
pandas==1.5.2
passlib==1.7.4
Pillow==8.4.0
pkginfo==1.7.1
protobuf==3.19.1
psycopg2-binary==2.9.3
pyactiveresource==1.0.1
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
pygame==2.0.1
Pygments==2.12.0
PyJWT==2.4.0
pyloco==0.0.139
pyparsing==3.0.6
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.1
pywin32-ctypes==0.2.0
readme-renderer==29.0
requests==2.28.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rich==12.4.4
scipy==1.7.1
seaborn==0.11.2
setuptools-scm==6.3.2
SimpleWebSocketServer==0.1.1
six==1.16.0
SQLAlchemy==1.4.27
SQLAlchemy-Utils==0.38.2
text-unidecode==1.3
toml==0.10.2
tomli==1.2.2
tqdm==4.62.2
twine==3.4.2
typing_extensions==4.4.0
urllib3==1.26.9
ushlex==0.99.1
visitor==0.1.3
webargs==8.2.0
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.1.2
wrapt==1.14.1
zipp==3.8.0
zope.event==4.5.0
zope.interface==5.4.0
